.header nav {
  justify-content: space-between;
  padding-block: 0.6rem;
}

.header ul {
  column-gap: 0.5em;
}

.logo {
  max-width: 8.375em;
}

.logo img {
  width: 100%;
}

.header ul a {
  font-size: 1.2rem;
  color: var(--highlight-color-two);
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
}

.header ul .active,
.header ul a:hover {
  transition: 0.3s ease;
  color: var(--highlight-color-one);
  background-color: var(--primary-color-one);
}
