.header {
  position: relative;
}

.header nav {
  justify-content: space-between;
  overflow: visible;
}

@media (max-width: 450px) {
  .header nav {
    padding: 0.6rem 1.1rem;
  }
}

.header ul {
  column-gap: 0.5em;
}

.logo {
  max-width: 8.375em;
}

.logo img {
  width: 100%;
}

.brger-icon {
  display: none;
}

@media (max-width: 780px) {
  .brger-icon {
    display: block;
    cursor: pointer;
  }
}
