.meals {
  margin-top: 2rem;
}

.meals h1 {
  color: var(--primary-color-one);
}

.meals .grid {
  margin-top: 0.3rem;
  margin-bottom: 0;
}

@media (max-width: 769px) {
  .meals .grid {
    grid-template-columns: 1fr;
    row-gap: 0.7rem;
  }
}

.p-center {
  color: var(--primary-color-one);
  text-align: center;
  font-weight: bold;
}
