.actions {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 0.7rem;
}

.actions .button--alt {
  color: var(--highlight-color-two);
  background-color: transparent;
}

.warning {
  text-align: center;
  font-size: 1.2rem;
}
