.label {
  color: var(--highlight-color-one);
  font-size: 1.4rem;
}

.textarea {
  background-color: var(--highlight-color-one);
  border-radius: 5px;
  padding: 0.6rem;
  width: 100%;
  height: 15vh;
  outline: 0;
}

.grid-mob {
  position: relative;
}

.grid-mob > * {
  width: 80%;
}

@media (max-width: 800px) {
  .grid-mob > * {
    width: 90%;
  }
}

@media (max-width: 620px) {
  .grid-mob {
    justify-content: center;
    row-gap: 1.6rem !important;
    grid-template-columns: 90% !important;
  }

  .grid-mob > * {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .grid-mob {
    grid-template-columns: 100% !important;
  }
}

.grid-mob .warning {
  position: absolute;
  bottom: -1.4rem;
  margin: 0;
  justify-content: center;
  justify-self: center;
  column-gap: 0.5rem;
  row-gap: 0;
  color: var(--secondary-color-one);
}

@media (max-width: 550px) {
  .grid-mob .warning {
    grid-column: span 1;
  }
}

@media (max-width: 300px) {
  .grid-mob .warning {
    bottom: -1.6rem;
  }
}
