.menu-card {
  display: flex;
  gap: 1rem;
  background-color: var(--highlight-color-one);
  padding: 0.6rem;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .menu-card {
    gap: 0.6rem;
  }
}

.img {
  width: 30%;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .img {
    width: 33%;
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title > div {
  justify-content: space-between;
  column-gap: 0.4em;
  row-gap: 0.3em;
}

.title .price {
  color: var(--secondary-color-one);
  padding-right: 0.6rem;
}

.title p {
  margin: 0;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item-link {
  text-align: center;
  color: var(--secondary-color-one);
  text-decoration: underline;
  font-size: 1.1rem;
}

.menu-card .details {
  font-size: 1rem;
  align-self: self-end;
  margin-top: 0.3em;
}

@media (max-width: 480px) {
  .menu-card .details {
    padding: 0.2rem 0.6rem;
  }
}
