.drope {
  width: 65%;
  font-size: 1.2rem;
  justify-content: space-evenly;
  background-color: var(--highlight-color-one);
  color: var(--primary-color-one);
  padding: 0.3rem 1rem;
  border-radius: 10px;
}

@media (max-width: 840px) {
  .drope {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .drope {
    width: 100%;
  }
}

.drope:hover,
.drope.checked {
  box-shadow: 0 3px 7px rgb(0 0 0 / 40%);
  background-color: var(--primary-color-one);
  color: var(--highlight-color-one);
  transition: ease 0.3s;
}
