.reservation-sec {
  background-color: var(--primary-color-one);
}

.reservation-sec {
  padding-top: 1.5rem;
}

.reservation-sec > div {
  overflow: visible;
}

.title {
  color: var(--primary-color-two);
}
