p.message {
  color: var(--highlight-color-two);
  text-align: center;
  font-size: 1.4em;
  font-weight: normal;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: #ccc !important;
  border: 1px solid transparent;
}
