.meals-grid {
  margin-top: 2rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "meal1 meal2 meal3";
  gap: 1.5rem;
}

.meals-grid:nth-child(1) {
  grid-area: meal1;
}

.meals-grid:nth-child(2) {
  grid-area: meal2;
}

.meals-grid:nth-child(3) {
  grid-area: meal3;
}

@media (max-width: 830px) {
  .meals-grid {
    grid-template-areas: "meal1 meal2" ". meal3";
  }
}

@media (max-width: 500px) {
  .meals-grid {
    justify-content: center;
    grid-auto-columns: 95%;
    grid-template-areas: "meal1" "meal2" " meal3";
  }
}

.p-center {
  color: var(--primary-color-one);
  text-align: center;
  font-weight: bold;
}

.loading {
  color: var(--primary-color-one);
  text-align: center;
  font-weight: bold;
  animation: flash 1s ease-in-out infinite alternate;
}

@keyframes fade-slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
