.message {
  width: 80%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 1rem;
  margin-bottom: 0;
  color: var(--highlight-color-two);
  border-bottom: 2px solid var(--highlight-color-two);
}

.cart-items {
  width: 80%;
  text-align: initial;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 15rem;
  overflow: auto;
}

.total {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--highlight-color-two);
  margin: 0.5rem 0.25rem;
}

@media (max-width: 580px) {
  .message,
  .cart-items,
  .total {
    width: 90%;
  }
}

@media (max-width: 430px) {
  .message,
  .cart-items,
  .total {
    width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
