.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--highlight-color-two);
  padding: 1rem 0;
  margin: 1rem 0;
}

.title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2em;
}

.summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.price {
  color: var(--secondary-color-one);
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: var(--highlight-color-two);
}

.actions {
  display: flex;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  width: 3rem;
  font-weight: bold;
  font-size: 1.5em;
  background-color: transparent;
  color: var(--highlight-color-two);
  border: 1px solid var(--highlight-color-two);
  border-radius: 6px;
  margin: 0.25rem;
}

@media (max-width: 320px) {
  .cart-item button {
    width: 2.4rem;
  }
}

.cart-item button:hover,
.cart-item button:active {
  border: 1px solid transparent;
  background-color: var(--hover-button);
  transition: 0.3s ease;
}
