.log-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.9rem;
  text-align: initial;
}

.log-form > * {
  width: 100%;
}

@media (max-width: 580px) {
  .log-form {
    width: 90%;
  }
}

@media (max-width: 430px) {
  .log-form {
    width: 100%;
  }
}

.log-form label {
  color: var(--highlight-color-two) !important;
}

.log-form input {
  background-color: white !important;
}

.textareaContainer {
  position: relative;
}

.label {
  background-color: white !important;
  font-size: 1.4rem;
}

.textarea {
  background-color: white !important;
  border: 3px solid var(--highlight-color-one);
  border-radius: 5px;
  padding: 0.6rem;
  width: 100%;
  height: 10vh;
  outline: 0;
}

.textarea.invalid {
  border: 3px solid var(--secondary-color-one);
}

.actions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.errorMassege {
  position: absolute;
  bottom: -0.7em;
  font-size: 0.8rem;
  color: var(--secondary-color-one);
  margin: 0;
}

.actions .errorMassege {
  position: absolute;
  top: -1.3em;
  font-size: 0.9em;
  color: var(--secondary-color-one);
  margin: 0;
}

.actions button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.message {
  text-align: center;
  font-size: 1.4em;
  color: var(--highlight-color-two);
}
