.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Markazi Text", serif;
  font-size: 1.2em;
  cursor: pointer;
  color: var(--highlight-color-two);
  background-color: white;
  padding: 0.3em 0.8em;
  border: 1px var(--primary-color-one) solid;
  border-radius: 15px;
}

.button:hover,
.button:active {
  transition: 0.3s ease;
  color: var(--highlight-color-one);
  background-color: var(--primary-color-one);
  border: 1px transparent solid;
}

.icon {
  width: 1.15em;
  height: 1.15em;
  margin-right: 0.5em;
}

.word {
  display: inline-block;
  margin-right: 5px;
}

@media (max-width: 600px) {
  .button .word {
    display: none;
  }
}
