.location h1 {
  color: var(--primary-color-one);
}

.text {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  align-items: center;
}

.text p {
  margin: 0;
  font-size: 1.2rem;
  color: var(--highlight-color-two);
}

.text h2 {
  word-spacing: 2px;
  font-size: 1.4rem;
}
