.hero-section {
  background-color: var(--primary-color-one);
  position: relative;
}

.hero-section .hero {
  align-items: flex-start;
}

.hero-section .hero {
  padding-block: 1.8rem;
  justify-content: space-between;
}

@media (max-width: 680px) {
  .hero-section .hero {
    padding-top: 8vh;
    flex-direction: column;
    align-items: center;
  }
}

.text {
  max-width: 300px;
}

@media (max-width: 680px) {
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }
}

.text h1 {
  color: var(--primary-color-two);
}

.text h2 {
  margin-top: -1rem;
  font-size: 2rem;
  color: var(--highlight-color-one);
}

@media (max-width: 570px) {
  .text h2 {
    font-size: 1.4rem;
  }
}

.text p {
  font-family: "Karla", sans-serif;
  color: var(--highlight-color-one);
}

.hero-img {
  position: relative;
  z-index: 15;
}

.hero-img img {
  border-radius: 20px;
  width: 250px;
  height: 276px;
  object-fit: cover;
}

@media (max-width: 320px) {
  .hero-img img {
    width: 220px;
  }
}

.layer {
  position: absolute;
  width: 100%;
  background-color: white;
  height: 12vh;
  top: calc(100% - 11vh);
  left: 0px;
}
