.meals {
  margin-top: 2rem;
}

.meals h1 {
  color: var(--primary-color-one);
}

@media (max-width: 769px) {
  .meals .grid {
    grid-template-columns: 1fr;
    row-gap: 0.6rem;
  }
}

.p-center {
  color: var(--primary-color-one);
  text-align: center;
  font-weight: bold;
}

.loading {
  color: var(--primary-color-one);
  text-align: center;
  font-weight: bold;
  animation: flash 1s ease-in-out infinite alternate;
}

@keyframes fade-slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
